.slider-container {
  margin: 0 auto;
  overflow-x: hidden;
}

.slider {
  display: flex;
  cursor: grab;
}

.item {
  height: 30rem;
  min-width: 30rem;
  padding: 2rem;
}

.item img {
  height: 100%;
  width: 100%;
  pointer-events: none;
}
